body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #920000, #000428);  
    background: linear-gradient(to right, #920000, #000428); 
}
header {
    margin: 30px 0;
}
.titulo{
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    color: #ff0000dc;
}
.container{
    background-color: white;
    border-radius: 15px;
}
header{
    margin-top: 3rem;
}
header h1 {
    color: white;
}
.lista-citas .cita{
    border-bottom: 1px solid #e1e1e1;
    padding: 2rem;
    padding-bottom: 3rem;
}
.lista-citas .cita:last-of-type{
    border-bottom: 0;
}

.lista-citas .cita p {
    margin: 0;
}
.lista-citas .cita button {
    margin-top: 1rem!important;
}
.lista-citas .cita span{
    font-weight: bold;
}
textarea{
    height: 200px!important;
}

svg{
    width: 21px;
}


